@model SmartPortalApp.Models.Transfer

@{
    ViewData["Title"] = "Create";
}


<h4>Application Form</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                        <label asp-for="FromCourse" class="control-label">Course Transffering From</label>
                        <select asp-for="FromCourse" class="form-control"  asp-items="ViewBag.MyCourseId"></select>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ToCourse" class="control-label">Course Transffering To</label>
                 <select asp-for="ToCourse" class="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            </div>
        
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
