@model SmartPortalApp.Models.CourseSubject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CourseSubject</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseSubjectsId" />
            <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Course name</label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">Subject Name</label>
                <input asp-for="SubjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="GradeId" class="control-label">Grade</label>
                <input asp-for="GradeId" class="form-control" />
                <span asp-validation-for="GradeId" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
