@model SmartPortalApp.Models.Transfer

@{
    ViewData["Title"] = "Create";
}

<h4>Transfer Form</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
             
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FromCourseId" class="control-label">Current CourseId</label>
                        <select asp-for="FromCourseId" class="form-control" asp-items="ViewBag.FromCourseId"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ToCourseId" class="control-label">To CourseId</label>
                        <select asp-for="ToCourseId" class="form-control" asp-items="ViewBag.ToCourseId"></select>
                    </div>
                </div>
               
            
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label"></label>
                        <textarea asp-for="Reason" class="form-control"></textarea>
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                </div>
             
               
              
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
