@model SmartPortalApp.Models.Transfer

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Application Form</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransferId" />
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FromCourseId" class="control-label">Current Course</label>
                        <select asp-for="FromCourseId" class="form-control" asp-items="ViewBag.FromCourseId"></select>
                        <span asp-validation-for="FromCourseId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ToCourseId" class="control-label">To course</label>
                        <select asp-for="ToCourseId" class="form-control" asp-items="ViewBag.ToCourseId"></select>
                        <span asp-validation-for="ToCourseId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ChairamnApproval" class="control-label">Department ChairmanApproval</label>
                         <select asp-for="ChairamnApproval" class="form-control">
                             <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Declined">Declined</option>
                          </select>
                        <span asp-validation-for="ChairamnApproval" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DeanApproval" class="control-label">Dean Approval</label>
                        <select asp-for="DeanApproval" class="form-control">
                            <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Declined">Declined</option>
                        </select>
                        <span asp-validation-for="DeanApproval" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" readonly="true" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TransferStatus" class="control-label">Status</label>
                        <select asp-for="TransferStatus" class="form-control">
                            <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Declined">Declined</option>
                        </select>
                        <span asp-validation-for="TransferStatus" class="text-danger"></span>
                    </div>
                </div>
              
                
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
