@model SmartPortalApp.Models.Application

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Application Form</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationId" />
            <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SchoolId" class="control-label">School</label>
                <select asp-for="SchoolId" class="form-control" asp-items="ViewBag.SchoolId"></select>
                <span asp-validation-for="SchoolId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Department</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Course</label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">Subject</label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UploadKCSE" class="control-label">Upload KCSE</label>
                <input asp-for="UploadKCSE" class="form-control" />
                <span asp-validation-for="UploadKCSE" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UploadKCPE" class="control-label">Upload KCPE</label>
                <input asp-for="UploadKCPE" class="form-control" />
                <span asp-validation-for="UploadKCPE" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReasonForTransfer" class="control-label">Reason For Transfer</label>
                <input asp-for="ReasonForTransfer" class="form-control" />
                <span asp-validation-for="ReasonForTransfer" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                 @Html.LabelFor(model => model.Status, "Application Status", new { @class = "control-label" })
                 @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as SelectList, "-- Select Status --", new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                @* <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span> *@
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EligibilityStatus" class="control-label">Eligibility Status</label>
                <input asp-for="EligibilityStatus" class="form-control" />
                <span asp-validation-for="EligibilityStatus" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
