@model SmartPortalApp.Models.ResultTable

@{
    ViewData["Title"] = "Create";
}

<h4>Result Form</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">Subject</label>
                <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="GradeId" class="control-label">Grade</label>
                <select asp-for="GradeId" class ="form-control" asp-items="ViewBag.GradeId"></select>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PointId" class="control-label">Point</label>
                <select asp-for="PointId" class ="form-control" asp-items="ViewBag.PointId"></select>
            </div>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
