@model SmartPortalApp.Models.ResultTable

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Result Table</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResultTableId" />
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">Subject</label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="GradeId" class="control-label">Grade</label>
                <select asp-for="GradeId" class="form-control" asp-items="ViewBag.GradeId"></select>
                <span asp-validation-for="GradeId" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PointId" class="control-label">Point</label>
                <select asp-for="PointId" class="form-control" asp-items="ViewBag.PointId"></select>
                <span asp-validation-for="PointId" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
