@model SmartPortalApp.Models.Grade

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Grade Details</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradeId" />
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="GradeCode" class="control-label">Grede Code</label>
                <input asp-for="GradeCode" class="form-control" />
                <span asp-validation-for="GradeCode" class="text-danger"></span>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="GradeName" class="control-label">Grade Name</label>
                <input asp-for="GradeName" class="form-control" />
                <span asp-validation-for="GradeName" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
