@model SmartPortalApp.Models.TeachingSubject

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Teaching Subject Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeachingSubjectId" />
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Course</label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeachingSubjectCode" class="control-label">Teaching Subject Code</label>
                <input asp-for="TeachingSubjectCode" class="form-control" />
                <span asp-validation-for="TeachingSubjectCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeachingSubjectName" class="control-label">Teaching Subject Name</label>
                <input asp-for="TeachingSubjectName" class="form-control" />
                <span asp-validation-for="TeachingSubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
